
{
  "singleQuote": false,
  "semi": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "printWidth": 100
      }
    }
  ]
}